!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Amaranth')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    script(src='/js/less.min.js', type='text/javascript')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/js/jquery.jeditable.js')
    - if(typeof js != 'undefined')
      - each i in js
        script(src='/js/' + i)
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29081450-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #header-bkg 
      #header
        #logo
          a(href='/')
            span uguu~
            | tracker
        #nav
          ul
            - if(req.session.user)
              li: a(href='/user/'+req.session.user.name)= req.session.user.name
              li: a(href='/logout') Logout
            - else
              li: a(href='/login') Login
            li: a(href='/upload') Upload
            li: a(href='/rss') RSS
            li
              form(action='/')
                select(name='searchcategory')
                  - each cat_option, category in categories
                    option(value=category)= category
                input(name='searchtext', value=req.query.searchtext, size='30')
                //-input(type='submit', value='Search')
    #subheader
    #content
      - var flash = req.flash()
      - if (flash.error)
        #flash.error= flash.error
      - if (flash.info)
        #flash.info= flash.info
      !{body}

    #footer
      p The uguu~tracker is still under development (
        a(href='https://github.com/mileswu/nyaa2') repo
        |  on Github). Any bugs or requests can be filed 
        a(href='https://github.com/mileswu/nyaa2/issues/new') here
        |  or with delamoo or torque at #uguu~subs on rizon IRC.
      p None of the files linked here are actually hosted on this site. By downloading the files, you are claiming that you own the original. 
