//-h1 d

- if (torrents.length)
  - if (req.query.searchtext && req.query.searchcategory)
    p Searched for "#{req.query.searchtext}" in #{req.query.searchcategory} and found #{count} torrents:
  - else
    p There are #{count} torrents being tracked.
  != partial('torrenttable.jade', {object: torrents})
  p !{paginate(page, lastpage, req)}

- else
  p There were no torrents found.


