h1 list
p Welcome to list

- if (torrents.length)
  table
    - each torrent in torrents
      tr
        td
          a(href='/torrent/'+torrent.permalink)= torrent.title
        td= humanize_size(torrent.size)
        td(title=torrent.dateUploaded)= humanize_date(torrent.dateUploaded)
        td= torrent.category
        td= torrent.seeds
        td= torrent.peers
        td
          a(href='/torrent/'+torrent.permalink+'/download') DL
  p !{paginate(page, lastpage, req)}

- else
  p there were no torrents


