table#torrent-table
  tr
    th#torrent-table-header-name
    th Size
    th Age
    th SE
    th LE
    th DLs
    th
  - each torrent in torrents
    tr
      td
        a(href='/torrent/'+torrent.permalink)= torrent.title
      td= humanize_size(torrent.size)
      td(title=torrent.dateUploaded)= humanize_date(torrent.dateUploaded)
      td= torrent.seeds
      td= torrent.peers
      td= torrent.snatches
      td
        a(href='/torrent/'+torrent.permalink+'/download') DL

