- if (!torrent)
  h2 This link is invalid
- else
  h2
    span(id='title')= torrent.title
  h3 Description
  p
    span(id='description')= torrent.description
  h3 Download
  p
    a(href=('/torrent/' + torrent.permalink + '/download')) Torrent (#{humanize_size(torrent.size)})
  h3 Category
  p
    span(id='category')= torrent.category
  h3 Uploaded
  p(title=torrent.dateUploaded) #{humanize_date(torrent.dateUploaded)} 
    - if (torrent.uploader === undefined)
      | by Anonymous
    - else
      | by 
      a(href=('/user/' + torrent.uploader))= torrent.uploader
  h3 Statistics
  p Peers: #{torrent.peers}, Seeds: #{torrent.seeds}, Downloads: #{torrent.snatches}
  h3 Files
  table#file-table
    tr
      th Filename
      th Size
    - each file in torrent.files
      tr
        td= file.path
        td= humanize_size(file.size)
  h3 Problem
  - if(req.session.admin == true || (torrent.uploader !== undefined && torrent.uploader == req.session.user.name))
    a(class='delete', href=('/torrent/' + torrent.permalink + '/delete')) Delete torrent

